div {
    float: left;
}

.main {
    background-color: aqua;
    min-height: 250px;
    border: 2px solid green;
    position: relative;
}

.content {
    background-color: grey;
    width: 75%;
    min-height: 250px;
    display: flex;
}

.left {
    background-color: bisque;
    width: 25%;
}
